{% extends 'base.html' %}
{% block navbar %}
<c-components.navbar txtcolor="black" />
{% endblock navbar %}

{% block content %}
<main class="min-h-[100vh]">
    <div class="p-20">
        <h1 class="mb-8 text-[64px] font-bold text-gray-800">
            <span class="underline decoration-red-700">NEWS</span>
            <span class="text-[18px] text-gray-600">Page #{{ request.GET.page|default:1 }}</span>
        </h1>

        {% for news_item in news %}
        <c-components.news_card :news_item="news_item" />
        {% endfor %}

        <div class="max-w-6xl px-4 py-8 mx-auto">
            <c-components.paginator :object="news" />
        </div>

    </div>
</main>
{% endblock content %}