<!-- BLOG SECTION IN HOME -->
{% load static %}

<section class="pt-5 pb-10 bg-white sm:px-2 overflow-hidden" id="home-blogs">
  <div class="pb-5 sm:pb-4 md:pb-5 lg:pb-5">
    <div class="flex items-center justify-between">
      <h2
        class="font-semibold text-red-700 mt-2 text-[29px] sm:text-[40px] md:text-[42px] lg:text-[42px] xl:text-[42px] text-center items-center mx-auto"
      >
        BLOGS
      </h2>
    </div>

    <div class="flex items-center justify-center w-full px-4">
      <p class="mx-auto mt-4 text-lg text-center text-gray-700 w-max">
        Exploring the Future of IT: Innovations Shaping the Tech World
      </p>
    </div>

    <div class="flex justify-end w-full">
      <a
        href="/blogs"
        class="relative inline-flex items-center justify-center mr-8 -mt-4 overflow-hidden text-xs font-medium transition-all group sm:text-sm xl:flex 2xl:flex"
      >
        <!-- Underline that appears on hover -->
        <span
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-[2px] bg-red-500 transition-all duration-500 group-hover:w-[100px]"
        ></span>

        <span
          class="relative w-full mt-6 text-center text-red-700 transition-colors duration-300 ease-in-out sm:mt-8 xl:mt-0"
        >
          View All Blogs <i class="fa fa-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div
    class="flex justify-center flex-wrap h-[540px] w-full max-w-screen-5xl"
    id="blog-container"
  >
    {% if blogs %}
    <c-components.blogs_card :blog="blog" class="border" />
    {% else %}
    <p>No blogs available</p>
    {% endif %}
  </div>
</section>
