<!-- BLOG SECTION IN HOME -->
{% load static %}
<section class="pt-8 pb-20 bg-white sm:px-6 md:px-8 lg:px-10 xl:px-16">
  <div class="pb-5 sm:pb-4 md:pb-5 lg:pb-6">
    <div class="flex items-center justify-between">
      <h2 class="font-semibold text-red-600 md:pl-[50px] pl-[20px] text-[29px] sm:text-[40px] md:text-[42px] lg:text-[42px] xl:text-[42px] text-center items-center mx-auto">
        BLOGS
      </h2>
      

      <a href="/blogs"
  class="relative inline-flex items-center justify-center px-4 py-2 mr-6 overflow-hidden text-xs font-medium transition-all bg-orange-700 rounded-full group sm:text-sm xl:flex 2xl:flex mt-8"
>
  <span
    class="absolute top-0 left-0 w-full h-full transition-all duration-500 ease-out origin-left transform scale-x-0 bg-orange-400 group-hover:scale-x-100"
  >
  </span>
  <span
    class="relative w-full text-center text-white transition-colors duration-300 ease-in-out group-hover:text-white"
  >
    View All News <i class="fa fa-angle-right"></i>
  </span>
</a>

    </div>
  </div>
  <div class="flex justify-center flex-wrap h-[540px] w-full max-w-screen-5xl " id="blog-container">


    {% if blogs %}
      <c-components.home-blog-card :blog="blog" class="border" />
    {% else %}
      <p>No blogs available</p>
    {% endif %}
  </div>
  
  
</section>
