<!-- Footer Section -->
<footer class="bg-[#1E1E1E] text-white py-16 px-[166px]">
    <div class="grid grid-cols-3 gap-8">
        <div>
            <ul>
                <li class="pb-3 text-gray-400">SERVICES</li>
                <li>Service 1</li>
                <li>Service 2</li>
                <li>Service 3</li>
                <li>Service 4</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="pb-3 text-gray-400">SERVICES</li>
                <li>Service 1</li>
                <li>Service 2</li>
                <li>Service 3</li>
                <li>Service 4</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="pb-3 text-gray-400">SERVICES</li>
                <li>Service 1</li>
                <li>Service 2</li>
                <li>Service 3</li>
                <li>Service 4</li>
            </ul>
        </div>
    </div>
    <hr class="my-8 border-gray-700">
    <p class="text-6xl text-center text-gray-400 font-Grotesk">HINOMARU TECH</p>
    <div class="flex justify-end mt-8 opacity-50">
        <p class="text-gray-400">Copy Right HINOMARU TECH</p>
    </div>
</footer>