{% extends 'base.html' %}
{% load wagtailimages_tags %}

{% block navbar %}
<c-components.navbar txtcolor="black" />
{% endblock navbar %}

{% block content %}

<main class="container mx-auto px-8 py-12 min-h-[100vh] flex flex-col justify-center items-center pt-20">
    <div class="w-full max-w-2xl">
        <div class="mb-8">
            <p class="text-gray-600">{{page.blog_publish_date}}</p>
            <h2 class="text-3xl font-bold mt-2">{{page.blog_title}}</h2>
            <p class="text-gray-600 mt-1">{{page.blog_description}}</p>
        </div>
        <div class="pt-2 pb-2 rounded">
            {% image page.blog_cover_image fill-841x473 %}
        </div>

        <!-- Table of Contents -->
        <div class="bg-gray-100 p-4 rounded-md w-full">
            <div class="flex items-center space-x-2 mb-2">
                <span class="text-lg font-semibold flex gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                    </svg>

                    Table of Contents
                </span>
            </div>
            <div id="toc-links" class="flex flex-wrap gap-2">
                <!-- Links will be dynamically inserted here -->
            </div>
        </div>

        <div class="space-y-8 prose prose-slate pt-5">
            {{page.blog_body | safe}}
        </div>
    </div>
</main>

<script>
    const h2Elements = document.querySelectorAll('h2');
    const tocLinksContainer = document.getElementById('toc-links');

    h2Elements.forEach((h2, index) => {
        const link = document.createElement('a');
        link.href = `#section-${index + 1}`;
        link.className = 'bg-white px-4 py-2 rounded-md shadow text-sm';
        link.textContent = `${index + 1}. ${h2.textContent}`;

        tocLinksContainer.appendChild(link);

        h2.id = `section-${index + 1}`;
    });
</script>
{% endblock content %}