{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block navbar %}
<c-components.navbar backgroundcolor="red-800" />
{% endblock navbar %}
{% block content %}

<main class="container mx-auto px-8 py-12 min-h-[100vh] flex flex-col justify-center items-center pt-20 mb-10">
    <div class="w-full max-w-2xl ">
        <div class="mb-8 ">
            {% if page.categories %}
            <div class="flex justify-center">
                <div id="categories-links" class="flex flex-wrap items-center gap-2 mt-4">
                    <p class="mt-6 text-gray-600">| {{ page.blog_publish_date }} | </p>

                    {% for category in page.categories.all %}

                    <span class="px-4 py-2 mt-6 text-sm bg-red-800 text-white rounded-md shadow-md"> {{ category.name
                        }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endif %}



            <h2 class="mt-6 text-3xl font-bold text-center">{{ page.blog_title }}</h2>
            <p class="mt-1 text-gray-600">{{ page.blog_description }}</p>
        </div>
        <div class="pt-2 pb-2 rounded">
            {% image page.blog_cover_image fill-841x473 %}
        </div>

        <!-- Categories -->
        <!-- {% if page.categories.all %}
        <div class="w-full p-4 bg-gray-100 rounded-md">
            <div class="flex items-center mb-2 space-x-2">
                <span class="flex gap-2 text-lg font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                    </svg>

                    Categories
                </span>
            </div>
            <div id="categories-links" class="flex flex-wrap gap-2">
                {% for category in page.categories.all %}
                <span class="px-4 py-2 text-sm bg-white rounded-md shadow">{{ category.name }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %} -->


        <!-- Table of Contents -->
        <div class="w-full p-4 bg-gray-100 rounded-md ">
            <div class="flex items-center mb-2 space-x-2">
                <span class="flex gap-2 text-lg font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                    </svg>
                    Table of Contents
                </span>
            </div>
            <div id="toc-links" class="flex flex-wrap gap-2">
                <!-- Links will be dynamically inserted here -->
            </div>
        </div>

        <div class="pt-5 space-y-8 text-justify prose prose-slate">
            {{ page.blog_body | safe }}
        </div>
    </div>
</main>

<!-- Blogs Section -->
<div class="relative pt-10 overflow-hidden mb-10 pb-10">
    <div class="flex justify-between items-center ">
        <h2 class="text-3xl lg:pl-[100px] md:pl-[50px] sm:pl-10 font-bold text-red-500">MORE BLOG</h2>
        <a href="/blogs" class="text-red-500 pr-[100px] font-semibold hover:underline">
            View all blogs →
        </a>
    </div>
    <div class="flex ml-0 md:ml-10 overflow-hidden" id="blog-container">
        {% for blog in blogs %}
        <c-components.blog_card :blog="blog" />
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const blogContainer = document.getElementById('blog-container');
        const scrollLeftButton = document.getElementById('scroll-left');
        const scrollRightButton = document.getElementById('scroll-right');

        // Scroll left
        scrollLeftButton.addEventListener('click', () => {
            blogContainer.scrollBy({
                left: -525,
                behavior: 'smooth'
            });
        });

        // Scroll right
        scrollRightButton.addEventListener('click', () => {
            blogContainer.scrollBy({
                left: 525,
                behavior: 'smooth'
            });
        });
    });

    const h2Elements = document.querySelectorAll('h2');
    const tocLinksContainer = document.getElementById('toc-links');

    h2Elements.forEach((h2, index) => {
        const link = document.createElement('a');
        link.href = `#section-${index + 1}`;
        link.className = 'bg-white px-4 py-2 rounded-md shadow text-sm hover:bg-black hover:text-white';
        link.textContent = `${index + 1}. ${h2.textContent}`;

        tocLinksContainer.appendChild(link);

        h2.id = `section-${index + 1}`;
    });

</script>
{% endblock extra_js %}