<div class="p-6 px-4 mb-4 bg-white rounded-lg shadow-md">
    <a href="{{ news_item.url }}">
        <div class="flex flex-row pl-[200px] pr-[200px] justify-around items-center  transition-shadow duration-300">
            <div>
                <p class="pt-1 pb-1 pl-2 pr-2 text-center text-white bg-black">
                    {{ news_item.news_publish_date }}
                </p>
            </div>

            <div class="flex-grow mx-4">
                {{ news_item.news_title }}
            </div>

            <div class="transition-transform duration-300 group-hover:translate-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
            </div>
        </div>
    </a>
</div>