/* Optional: Section specific style for overflow */
section {
  overflow-x: hidden;
  width: 100%;
}

.hover-effect span {
  display: inline-block;
  transition: transform 0.4s ease, text-shadow 0.4s ease, color 0.4s ease;
}

.hover-effect:hover span {
  transform: translateY(-20px);
  color: white;
  text-shadow: 12px 14px 14px solid black, 0 15px 25px rgba(255, 255, 255, 0.5);
  filter: brightness(1.5);
}

.space {
  display: inline-block;
  width: 0.3em; /* if u change here change the width in span at the hero section */
}

/* end of hero animation */

.parallax {
  animation: parallax 20s linear infinite;
  overflow: hidden;
  display: inline-block;
}
@keyframes slideInCircle {
  0% {
    transform: translate(50%, -50%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* About US animated circle */
.animate-circle {
  animation: slideInCircle 1.5s ease-out forwards;
}


/* Synccard border animation why us  */
.cards-border {
  font-size: 2rem;
  position: relative;
  border: 1px;
  display: inline-block;
  padding: 1rem;
  border: 1px solid #d3d3d3;
}

.cards-border::after,
.cards-border::before,
.cards-border .left-border,
.cards-border .right-border {
  content: "";
  position: absolute;
  background: #f44336;
  transition: transform 0.4s ease-out;
}

/* Top and Bottom Borders */
.cards-border::after,
.cards-border::before {
  width: 100%;
  height: 2px;
  left: 0;
  transform: scaleX(0);
}

.cards-border::before {
  top: 0;
  transform-origin: right;
}

.cards-border::after {
  bottom: 0;
  transform-origin: left;
}

/* Left and Right Borders */
.cards-border .left-border,
.cards-border .right-border {
  width: 2px;
  height: 100%;
  top: 0;
  transform: scaleY(0);
}

.cards-border .left-border {
  left: 0;
  /* transform-origin: top; */
  transform-origin: bottom;
}

.cards-border .right-border {
  right: 0;
  /* transform-origin: bottom; */
  transform-origin: top;
}

/* Hover Effect - Expand Borders */
.cards-border:hover::after,
.cards-border:hover::before {
  transform: scaleX(1);
}

.cards-border:hover .left-border,
.cards-border:hover .right-border {
  transform: scaleY(1);
}
/* End of why Choose Us */
