
  /* Media query for 414 */
  @media (min-width: 414px) and (max-width: 416px) {
    #image_holder {
      margin-top: 6%;
    }
  }

  @media (min-width: 390px) and (max-width: 400px) {
    #image_holder {
      margin-top: 6%;
    }
  }

  @media (min-width: 912px) and (max-width: 914px) {
    #aboutUsContainer {
      margin-bottom: 80%;
    }
  }

  @media (min-width: 390px) and (max-width: 400px) {
  #services {
    margin-top: -5% !important;
  }}

  #animation-circle {
  display: block; /* Keep it visible by default */
}

/* Hide the animation-circle within the section when screen width is between 639px and 976px */
@media (min-width: 200px) and (max-width: 976px) {
   #animation-circle {
    display: none; /* Hide only within the 'about-us' section */
  }
}


@media (min-width: 768px) and (max-width: 974px) {
  #aboutus-textandimage {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content */
    justify-content: center; /* Ensure proper alignment */
    gap: 40px !important; /* Ensure enough spacing */
  }

  #aboutus-textandimage > div {
    width: 90% !important; /* Give enough space */
    text-align: center; /* Center text */
  }

  #image_holder {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #image_holder img {
    max-width: 80%; /* Limit image width */
    height: auto;
    margin: 0 auto; /* Center align */
  }
}

