.w-screen {
  width: 100vw !important;
}

@keyframes slideDownFade {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpFade {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* dropdown of navbar in big screen*/

#dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0.2s, visibility 0.2s 0.2s;
}

#dropdown-menu:hover {
  opacity: 1;
}

#services-btn:hover #dropdown-menu,
#dropdown-menu:hover {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.2s;
}

.dropdown-item {
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
}
