/* Dropdown Menu Styling */
#dropdown-menu {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* left: 68%;  */
    left: 50%; /* Start from center */
    transform: translateX(-50%) scaleY(0); /* Center the dropdown */
  }

  #dropdown-menu.show {
    opacity: 1;
    transform: scaleY(1);
    transform: translateX(-53%) scaleY(1);
  }

  /* Adjust for larger screens */
  @media (min-width: 1280px) {
    #dropdown-menu.show {
      transform: translateX(-54.5%) scaleY(1);
    }
  }

  @media (min-width: 1669px) {
    #dropdown-menu.show {
      transform: translateX(-53.5%) scaleY(1);
    }
  }
  @media (min-width: 1600px) {
    #dropdown-menu.show {
      transform: translateX(-53.5%) scaleY(1);
    }
  }

  /* Navbar background change on hover */
  #navbar.white-bg {
    background-color: white;
    transition: background-color 0.3s ease;
  }

  /* Cross Icon Animation */
  .cross span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 7px);
    height: 4px;
    width: 27px;
  }

  .cross span:nth-child(2) {
    opacity: 0;
  }

  .cross span:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -14px);
    height: 4px;
    width: 27px;
  }

  /* Smooth Transition */
  #hamburger span {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }